
<!-- Page Heading/Breadcrumbs -->
<div class="">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="/home">Home</a>
                </li>
                <li class="active">About</li>
            </ol>
        </div>
    </div>

    <!-- Intro Content -->
    <div class="row">
        <div class="col-sm-6">
            <img class="img-responsive" src="images/ihs_office.jpg" alt="">
        </div>
        <div class="col-sm-6">
            <h4>About Institute of Health Systems</h4>
            <div class="text-justify">
                <p class="ihs-para">Institute of Health Systems (IHS) is a civil society institution. It was established in 1990 and registered under the Societies Registration Act. A group of concerned citizens, each specializing in a different field have linkages with health care, realised that the health services, in India, had been viewed as a technological affair.</p>
                <p class="ihs-para">The Institute is governed by a system of authorities consisting of an executive committee, a general body and the board of governors. Programs and activities of the Institute are carried on by a team of faculty and staff lead by the Director, who is the chief academic and executive officer of the Institute.</p>
                <p class="ihs-para">The objectives of IHS are to promote and provide for study of health systems, health policy, health services management, health economics and medical sociology. The Institution has built up capacity in application of information technology to health care services. The objective here is to build up capacity in the specialized area of applications for health care systems and make it available to both public and NGO sector for locally viable, cost-effective solutions, rather than expensive or inappropriate technology import.</p>
            </div>
            <hr>
            <h4>Our Vision</h4>
            <p class="ihs-para">To improve the efficacy, quality & equity of Health Systems.</p>
            <hr>
            <h4>Our Mission</h4>
            <p class="ihs-para">Groom Skills, Gather Evidence and Generate Knowledge for people's health.</p>
        </div>
    </div>
    <hr>

    <!-- Team Members -->
    <h4>Our Team</h4><br>
    <A name="anchor-surendraPro"></A>
    <div class="row">
        <div class="col-sm-3 text-center">
            <div class="thumbnail ihs-thumbnail-color">
                <img class="img-responsive ihs-profile-pic" src="images/surendra.jpg" alt="">
                <div class="caption">
                    <h5><a href="" ng-click="scrollToProfile('profile-surendra')">G. Surendra</a><br></h5>
                    <small>Director</small>
                    <p><small><a href="mailto:surendra@ihs.org.in">surendra@ihs.org.in</a></small></p>
                </div>
            </div>
        </div>
        <A name="anchor-MahapatraPro"></A>
        <div class="col-sm-3 text-center">
            <div class="thumbnail ihs-thumbnail-color">
                <img class="img-responsive ihs-profile-pic" src="images/Mahapatra.jpg" alt="Mahapatra's Image">
                <div class="caption">
                    <h5><a href="" ng-click="scrollToProfile('profile-mahapatra')" >Dr. Prasanta Mahapatra</a><br></h5>
                    <small>Dean</small>
                    <p><small><a href="mailto:mahapat@ihs.org.in">mahapat@ihs.org.in</a></small></p>
                </div>
            </div>
        </div>
        <A name="anchor-DayakarThotaPro"></A>
        <div class="col-sm-3 text-center">
            <div class="thumbnail ihs-thumbnail-color">
                <img class="img-responsive ihs-profile-pic" src="images/DayakarThota.jpg" alt="DayakarThota">
                <div class="caption">
                    <h5><a href="" ng-click="scrollToProfile('profile-dayakarthota')">Prof. Dayakar Thota</a><br></h5>
                    <small>Visiting Faculty</small>
                    <p><small> <!--<a href="mailto:srinivas@ihs.org.in">srinivas@ihs.org.in</a>--></small></p><br>
                </div>
            </div>
        </div>
        <A name="anchor-SrinivasPro"></A>
        <div class="col-sm-3 text-center">
            <div class="thumbnail ihs-thumbnail-color">
                <img class="img-responsive ihs-profile-pic" src="images/Srinivas.jpg" alt="Srinivas">
                <div class="caption">
                    <h5><a href="" ng-click="scrollToProfile('profile-srinivas')">Mr. Srinivas V</a><br></h5>
                    <small>Program Officer</small>
                    <p><small><a href="mailto:srinivas@ihs.org.in">srinivas@ihs.org.in</a></small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <A name="anchor-ManikantaReddyEPro"></A>
        <div class="col-sm-3 text-center">
            <div class="thumbnail ihs-thumbnail-color">
                <img class="img-responsive ihs-profile-pic" src="images/ManikantaReddyE.jpg" alt="Manikanta Reddy E">
                <div class="caption">
                    <h5><a href="" ng-click="scrollToProfile('profile-manikantareddy')">Mr. Manikanta Reddy E</a><br></h5>
                    <small>Research Fellow</small>
                    <p><small><a href="mailto:manikanta@ihs.org.in">manikanta@ihs.org.in</a></small></p>
                </div>
            </div>
        </div>
        <A name="anchor-SalmaShaikPro"></A>
        <div class="col-sm-3 text-center">
            <div class="thumbnail ihs-thumbnail-color">
                <img class="img-responsive ihs-profile-pic" src="images/SalmaShaik.jpg" alt="Salma Shaik">
                <div class="caption">
                    <h5><a href="" ng-click="scrollToProfile('profile-salmashaik')">Mrs. Salma Shaik</a><br></h5>
                    <small>Microbiologist</small>
                    <p><small><a href="mailto:salma@ihs.org.in">salma@ihs.org.in</a></small></p>
                </div>
            </div>
        </div>
        <A name="anchor-MartinAnthonyPro"></A>
        <div class="col-sm-3 text-center">
            <div class="thumbnail ihs-thumbnail-color">
                <img class="img-responsive ihs-profile-pic" src="images/MartinAnthony.jpg" alt="Martin Anthony">
                <div class="caption">
                    <h5><a href="" ng-click="scrollToProfile('profile-martinanthony')">Mr. Martin Anthony</a><br></h5>
                    <small>Biochemist</small>
                    <p><small><a href="mailto:martinantony@ihs.org.in">martinantony@ihs.org.in</a></small></p>
                </div>
            </div>
        </div>
        <A name="anchor-SatyanarayanaJPro"></A>
        <div class="col-sm-3 text-center">
            <div class="thumbnail ihs-thumbnail-color">
                <img class="img-responsive ihs-profile-pic" src="images/SatyanarayanaJ.jpg" alt="Satyanarayana J">
                <div class="caption">
                    <h5><a href="" ng-click="scrollToProfile('profile-satyanarayana')">Mr. Satyanarayana J</a><br></h5>
                    <small>Accountant</small>
                    <p><small><a href="mailto:satyanarayana@ihs.org.in">satyanarayana@ihs.org.in</a></small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <A name="anchor-KrishnaVeniPro"></A>
        <div class="col-sm-3 text-center">
            <div class="thumbnail ihs-thumbnail-color">
                <img class="img-responsive ihs-profile-pic" src="images/KrishnaVeni.jpg" alt="Krishna Veni">
                <div class="caption">
                    <h5><a href="" ng-click="scrollToProfile('profile-krishnaveni')">Ms. Krishna Veni</a><br></h5>
                    <small>Executive(General Support)</small>
                    <p><small><a href="mailto:krishnaveni@ihs.org.in">krishnaveni@ihs.org.in</a></small></p>
                </div>
            </div>
        </div>
        <A name="anchor-VidishaPro"></A>
        <div class="col-sm-3 text-center">
            <div class="thumbnail ihs-thumbnail-color">
                <img class="img-responsive ihs-profile-pic" src="images/Vidisha.jpg" alt="Vidisha">
                <div class="caption">
                    <h5><a href="" ng-click="scrollToProfile('profile-vidisha')">Ms. Vidisha</a><br></h5>
                    <small>Executive(General Support)</small>
                    <p><small><a href="mailto:vidisha@ihs.org.in">vidisha@ihs.org.in</a></small></p>
                </div>
            </div>
        </div>
        <A name="anchor-GopalSPro"></A>
        <div class="col-sm-3 text-center">
            <div class="thumbnail ihs-thumbnail-color">
                <img class="img-responsive ihs-profile-pic" src="images/GopalS.jpg" alt="GopalS">
                <div class="caption">
                    <h5><a href="" ng-click="scrollToProfile('profile-gopal')">Mr. Gopal S</a><br></h5>
                    <small>Lab Technician</small>
                    <p><small><a href="mailto:gopal@ihs.org.in">gopal@ihs.org.in</a></small></p>
                </div>
            </div>
        </div>
        <A name="anchor-LakshmiJPro"></A>
        <div class="col-sm-3 text-center">
            <div class="thumbnail ihs-thumbnail-color">
                <img class="img-responsive ihs-profile-pic" src="images/LakshmiJ.jpg" alt="Lakshmi J">
                <div class="caption">
                    <h5><a href="" ng-click="scrollToProfile('profile-lakshmi')">Ms. Lakshmi J</a><br></h5>
                    <small>Lab Technician</small>
                    <p><small><a href="mailto:lakshmi@ihs.org.in">lakshmi@ihs.org.in</a></small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <A name="anchor-VijayaKumariKPro"></A>
        <div class="col-sm-3 text-center">
            <div class="thumbnail ihs-thumbnail-color">
                <img class="img-responsive ihs-profile-pic" src="images/VijayaKumariK.jpg" alt="Vijaya Kumari K">
                <div class="caption">
                    <h5><a href="" ng-click="scrollToProfile('profile-vijayakumari')">Ms. Vijaya Kumari K</a><br></h5>
                    <small>Lab Technician</small>
                    <p><small><a href="mailto:vijayakumari@ihs.org.in">vijayakumari@ihs.org.in</a></small></p>
                </div>
            </div>
        </div>
        <A name="anchor-PraveenKumarNPro"></A>
        <div class="col-sm-3 text-center">
            <div class="thumbnail ihs-thumbnail-color">
                <img class="img-responsive ihs-profile-pic" src="images/PraveenKumarN.jpg" alt="Praveen Kumar N">
                <div class="caption">
                    <h5><a href="" ng-click="scrollToProfile('profile-praveenkumar')">Mr. Praveen Kumar N</a><br></h5>
                    <small>Lab Technician</small>
                    <p><small><a href="mailto:praveen@ihs.org.in">praveen@ihs.org.in</a></small></p>
                </div>
            </div>
        </div>
    </div>
</div>