<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h3 style="text-align: center">Air Pollution and Cause of Deaths in Hyderabad</h3>
        </div>
        <p class="ihs-para">
            This study has been designed to understand the cause of death pattern in Hyderabad city and identify deaths due to causes attributable to air pollution. The study also aims to strengthen the medical certification of cause of deaths and reporting of cause of death statistics in the city of Hyderabad . Data on air pollution has been collected from the Andhra Pradesh Pollution Control Board.  Cause of Death data is being collected from the vital statistics division of the municipal corporation of Hyderabad . The quality of the medical certification of deaths will be assessed and where required reassessment of cause of death will be done using verbal autopsy tools. The study has been commissioned by the Ministry of Environment and Forests<sup>[1]</sup>, Government of India and began in May 2005.
        </p>
        <hr>
        <p class="ihs-para">
            <sup>[1]</sup>GoI Ministry of Env. F. No. Q11011/21/2003 EHC dt: 17th March 2005
        </p>
    </div>
</div>