<div class="col-md-4 text-center">
    <div class="thumbnail">
        <img class="img-responsive" src="images/Mahapatra.jpg" alt="Mahapatra's Image">
        <div class="caption">
            <h3>Dr. Prasanta Mahapatra<br></h3>
            <small>Dean</small>
            <p><small><a href="mailto:mahapat@ihs.org.in">mahapat@ihs.org.in</a></small></p>
            <div class="text-justify">
                <p>Dr. Prasanta Mahapatra, is a medical doctor, a Takemi Fellow in International Health and a PhD in International Health Policy & Economics from Harvard University.</p>
                <p>After practicing for sometime as a Medical Officer in the Central Government Health Scheme, Dr. Mahapatra joined the Indian Administrative Service, in 1980. He served in various capacities in East-West Godavari, Nellore, Nalgonda, Krishna and Guntur districts. Dr. Mahapatra is experienced in revenue, general administration, disaster management, rural development, tribal welfare, women welfare, medical, health, information technology, irrigation and school education sectors.</p>
                <p>His experiences in the health field include, Registrar of the NTR University of Health Sciences, Director Medical Education, Commissioner Medical Services, a faculty at the Administrative Staff College of India, Director Institute of Health Systems, and Director - Vice Chancellor of the Nizams Institute of Medical Sciences.</p>
                <p>Before his retirement from civil service, he was the Director General of the MCR Human Resources Development Institute and Ex-officio Special Chief Secretary to Govt. of AP. He has served as member of ICMR Scientific Advisory Group, and Core Group of the Department of Health Research. He was a member of the steering group of the National Nutrition Mission. Currently He is a member of the Scientific and Technical Advisory Group of the WHO - Alliance for Health Policy & Systems Research.</p>
                <p>Dr. Mahapatra has contributed to the Global Burden of Disease estimates published in the World Bank’s World Development Report, 1993. He has published articles and books in the fields of general administration, rural development, and public health. Currently, Dr. Mahapatra is the Dean at the Institute of Health Systems, Hyderabad, India.</p>
            </div>
        </div>
    </div>
</div>