<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h3 style="text-align: center">District Family Health Survey (DFHS) 2000</h3>
            <h4 style="text-align: center; color: #269abc">A pilot study in three districts of Andhra Pradesh to estimate IMR, Fertility & MMR Sponsored By : Commissioner of Family Welfare, Andhra Pradesh.<br></h4>
        </div>
        <p class="text-primary"><strong>Objectives</strong></p>
        <p class="ihs-para">
            The District Family Health Survey (pilot project) was designed to test the feasibility of a rapid survey using, as far as possible, existing health care personnel, to estimate IMR, TFR and MMR for district and sub district level population aggregates, at regular intervals. The primary objective of this pilot study was to work out the design, survey, data analysis and reporting mechanisms of state wide DFHS system. IMR is a sensitive indicator of child survival, particularly in populations, where infectious diseases and malnutrition continue to be a problem. Total and age specific fertility rate is an important indicator of population growth rates. MMR is an important indicator of population trends. With growing emphasis on local area planning in the field of population studies, there is an increasing need for estimating fertility, and mortality indicators at the district level.
        </p>
        <p class="text-primary"><strong>Methodology</strong></p>
        <p class="ihs-para">
            The indirect methods of estimation such as children ever born technique (CEB) for estimating IMR & FR and sisterhood survival technique for estimating MMR were employed. A two-stage proportional stratification method followed by random selection of clusters within each strata by probability proportionate to size (PPS) criteria was used. The target group in the population were females in the child bearing age group i.e., 12 - 49 years. The targeted population coverage by the survey (3,50,000) was distributed proportionately among the 3 selected districts- Mahaboobagar (Telangana Region), Chittoor (Rayalaseema Region) and Nellore (Coastal Andhra Region). The large sample population was selected, as it would yield estimates with higher precision and narrow 95% confidence intervals.
        </p>
        <p class="text-primary"><strong>Findings</strong></p>
        <p class="ihs-para">
            Summarized results of the survey are discussed below.
        </p>
        <p class="ihs-para">
            The population coverage achieved in DFHS survey is shown in Table 1.
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="ihs-aligntext-center" colspan="4">Table-1. Population Coverage in DFHS-AP, 2000</th>
                </tr>
                <tr>
                    <th> District </th>
                    <th> Target </th>
                    <th> Achieved </th>
                    <th> % Coverage </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nellore</td>
                    <td>102309</td>
                    <td>60211</td>
                    <td>59</td>
                </tr>
                <tr>
                    <td>Chittoor</td>
                    <td>99703</td>
                    <td>72151</td>
                    <td>71</td>
                </tr>
                <tr>
                    <td>Mahaboobnagar</td>
                    <td>102886</td>
                    <td>72154</td>
                    <td>70</td>
                </tr>
            </tbody>
        </table>
        <p class="ihs-para">
            <strong>Infant Mortality and Total Fertility Rates</strong>
        </p>
        <p class="ihs-para">
            The estimates arrived at from the survey are as shown in Table 2. District level estimates of IMR show significant variation in mortality experienced by people in different parts of the state. Mahboobnagar, among the three districts studied, showed very high levels of IMR compared to the state average. Divisional level estimates within the Mahboobnagar district shows that one out of its five divisions has comparatively low IMR and the rest four divisions have high IMR. Further study of differences in public health facilities, socioeconomic and literacy differentials between the revenue divisions may provide additional insights. Nevertheless, the present study clearly brings out the need for a more targeted and focused approach to improve public health status in Mahboobnagar district. Such targeted approach holds the promise for further improvement of the mortality situation and IMR at the state level.
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="ihs-aligntext-center" colspan="4">
                        Table-2: District and Divisional estimates of IMR and TFR
                    </th>
                </tr>
                <tr>
                    <th> District / Division </th>
                    <th> IMR </th>
                    <th> TFR </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nellore Dt.</td>
                    <td>79 (46)</td>
                    <td>2.13 (3.1)</td>
                </tr>
                <tr>
                    <td>Gudur Div.</td>
                    <td>92</td>
                    <td>2.03</td>
                </tr>
                <tr>
                    <td>Kavali Div.</td>
                    <td>58</td>
                    <td>2.25</td>
                </tr>
                <tr>
                    <td>Nellore Div.</td>
                    <td>81</td>
                    <td>2.13</td>
                </tr>
                <tr>
                    <td>Chittoor Dt.</td>
                    <td>65 (60)</td>
                    <td>2.17 (3.14)</td>
                </tr>
                <tr>
                    <td>Madanapally Div.</td>
                    <td>76</td>
                    <td>2.17</td>
                </tr>
                <tr>
                    <td>Chittoor Div.</td>
                    <td>67</td>
                    <td>2.21</td>
                </tr>
                <tr>
                    <td>Tirupati Div.</td>
                    <td>45</td>
                    <td>2.1</td>
                </tr>
                <tr>
                    <td>Mahbubnagar Dt.</td>
                    <td>115 (77)</td>
                    <td>2.52 (4.49)</td>
                </tr>
                <tr>
                    <td>Gadwal Div.</td>
                    <td>93</td>
                    <td>2.53</td>
                </tr>
                <tr>
                    <td>Mahbubnagar Div.</td>
                    <td>110</td>
                    <td>2.66</td>
                </tr>
                <tr>
                    <td>Narayanpet Div.</td>
                    <td>125</td>
                    <td>2.41</td>
                </tr>
                <tr>
                    <td>Wanaparthy Div.</td>
                    <td>62</td>
                    <td>2.51</td>
                </tr>
                <tr>
                    <td>Nagarkurnool Div.</td>
                    <td>140</td>
                    <td>2.46</td>
                </tr>
                <tr class="ihs-aligntext-center">
                    <td colspan="3">Figures in parentheses indicate estimates derived from 1991 Census data using similar methods</td>
                </tr>
            </tbody>
        </table>
        <p class="ihs-para">
            District level estimates of fertility (TFR) is consistent with the state level trend of gradually reducing fertility. Comparison of present estimates with district level estimates of TFR obtained from 1991 census confirms the trend of declining fertility for each of the three districts. Between the three districts, the fertility level in Mahboobnagar is slightly higher.
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="ihs-aligntext-center" colspan="5">
                        Table-3: Indirect estimates of maternal mortality in three districts of AP.
                    </th>
                </tr>
                <tr>
                    <th colspan="1"> Time location of estimates </th>
                    <th colspan="4"> District - MMR per 100000 live births </th>
                </tr>
                <tr>
                    <th> </th>
                    <th> Nellore </th>
                    <th> Chittoor </th>
                    <th> Mahboobnagar </th>
                    <th> Pooled </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>12 years ago i.e. around 1988</td>
                    <td>264</td>
                    <td>211</td>
                    <td>202</td>
                    <td>258</td>
                </tr>
                <tr>
                    <td>6 year 10 months ago, i.e. around 1993-94</td>
                    <td>248</td>
                    <td>651</td>
                    <td>169</td>
                    <td>321</td>
                </tr>
                <tr>
                    <td>5 year 8 months ago, i.e. around 1994-95</td>
                    <td>790</td>
                    <td>234</td>
                    <td>1,775</td>
                    <td>997</td>
                </tr>
                <tr class="ihs-aligntext-center">
                    <td colspan="5">Source: DFHS-AP pilot study 2000: Sisterhood data. Indirect estimation method as in Graham &c., 1989</td>
                </tr>
            </tbody>
        </table>
        <p class="ihs-para">
            Maternal mortality estimates obtained from this study show some disturbing signs as figures corresponding to recent period suggest an increase in maternal mortality rates (Table-3). The MMR in these three districts has been estimated to have been about 200 to 264 per 100,000 live births about 12 years prior to the survey i.e. around 1988. Indirect estimates for more recent period around 1994-95 suggests an increase in maternal mortality rate. Part of this increase in more recent estimates could be due to an artifact of sampling.
        </p>
        <p class="text-primary"><strong>Recommendations</strong></p>
        <p class="ihs-para">
            An additional component of the DFHS was to study the policy alternatives for regular estimation of IMR and MMR at the district and sub district level. The four alternatives namely - the Civil Registration System, the Sample Registration System, the Census and the District Family and Health Survey were studied and the merits and difficulties have been discussed to gauge the potential for generation of district and sub district level estimates. Recommendations for the short, medium and long term are described.
        </p>
        <p class="ihs-para">
            In the short term, DFHS may be carried out in each district at intervals of 3 - 5 years depending on availability of funds, as it will provide an independent source of estimate for cross validation purposes.
        </p>
        <p class="ihs-para">
            As a medium term measure, we recommend that an SRS like system titled as District Sample Registration Scheme (DSRS) can be set up by the state with the help of technical support from a research institution having skills in demography. 
        </p>
        <p class="ihs-para">
            In the long term, efforts should be made towards increasing the usability of data being collected through systems in routine operation, such as the Civil Registration System, the Sample Registration System, and the Census. Apart from informing on general mortality, the CRS and SRS provide valuable information on causes of death. The present coverage of the CRS in AP is only around 40 %, and compares poorly with that in neighbouring states. The CRS is the ideal source for estimating fertility and general / cause specific mortality rates, at whichever level of population aggregation that is desired, eg State, District or Revenue Division. Measures to be taken for improving the performance of the CRS have been listed separately, and should be implemented without delay.
        </p>
        <p class="ihs-para">
            For estimation of MMR, we recommend that the Prospective MMR Surveillance System suggested by us may be organized at least in some districts on a pilot project basis.
        </p>
        <p class="text-primary"><strong>Conclusions</strong></p>
        <p class="ihs-para">
            The results reported from this study have highlighted the need for planning and implementation of public health programmes in the state and to put in place a regular system of District Family Health Surveys, till such time as the vital registration system improves to provide more accurate statistics.
        </p>
        <p class="ihs-para" style="font-style: italic; color: #269abc">
            The project was funded by Commissioner of Family Welfare, Andhra Pradesh.
        </p>
        <p class="ihs-para" style= "text-align: right" >
            For details and enquiries write to <a href="mailto:{{ihs_email}}"> {{ihs_email}}</a>
        </p>
        <p class="ihs-para" style= "text-align: right" >
            <strong>Updated on 17th June, 2002.</strong>
        </p>
    </div>
</div>
