<!-- Header Carousel -->
    
    <!-- Page Content -->
    <div class="">
        
        <!-- Carousel -->
        <div class="row">
            <div class="col-md-8">
                <img class="img-responsive img-rounded ihs-home-pic" src="images/ihs_lab.jpg" alt="IHS lab">
            </div>
            <div class="col-md-4">
                <address>
                    <h4>The Institute of Health Systems</h4><br>
                    HACA Bhavan<br>
                    Hyderabad - 500 004<br>
                    Andhra Pradesh, India<br>
                    <hr>
                    <i class="fa fa-phone fa-lg"></i> +91- 40- 23210136/9<br>
                    <i class="fa fa-phone fa-lg"></i> +91- 40- 23211013/4<br>
                    <br>
                    <i class="fa fa-fax fa-lg"></i> +91- 40- 23241567<br><br>
                    <span class="glyphicon glyphicon-envelope"></span><a href="mailto:ihs@ihs.org.in"> ihs@ihs.org.in</a>
                </address>
            </div>
        </div>
        <hr>
        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-md-4">
                <h4>Water Safety - Hyderabad</h4>
                <p class="ihs-para">The IHS has been contributing to the WSP(Water Safety Plan) by organizing expert group meetings and providing inputs for development of health based targets. The Director, IHS serves on the Steering Committee on Water Safety Plans and Saritha K, Head, WQTS, IHS serves on Task Force for Monitoring implementation of Water Safety Plans constituted by the HMWSSB.</p>
            </div>
            <div class="col-md-4">
                <h4>Water Quality Lab</h4>
                <p class="ihs-para">Protecting public health by easily accessible tests of water quality. Services include, basic & complete potability tests, bacteriological analysis, ground water potability & specified single or multiple parameter tests. The lab provides independent water quality monitoring of water in identified slum areas supplied by the Hyderabad Metro Water Supply & Sewerage Board</p>
            </div>
            <div class="col-md-4">
                <h4>Resources</h4>
                <p class="ihs-para"></p>
            </div>
        </div>
        <!-- /.row -->
    </div>
        
        
      
<!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    });
    </script>
