
<!-- Header Carousel -->

<!-- Page Content -->
<div class="">

    <!-- Carousel -->
    <div class="row">
        <div class="col-sm-8">
            <div id="carousel-example-generic" class="carousel slide ihs-carousel" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div style="background:url(images/ihs_lab.jpg) center center; 
                             background-size:cover;" class="slider-size"></div>
                        <div class="carousel-caption">
                            <h3>Water Quality Lab</h3>
                            <p>TODO: Write a single liner text about lab</p>
                        </div>
                    </div>
                    <div class="item">
                        <div style="background:url(images/ihs_lab2.jpg) center center; 
                             background-size:cover;" class="slider-size"></div>
                        <div class="carousel-caption">
                            TODO: Water Quality Lab
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="jumbotron ihs-jumbotron">
                <div class="contemporary-links">
                    <h5><b>Contemporary Links</b></h5>
                    <ul>
                        <li><a href="/project/archive/apburdenofdiseasestudy">Andhra Pradesh Burden of Disease</a></li>
                        <li><a href="/hspaprojects">Projects on Health System Performance Assessment</a></li>
                        <li><a href="#">TODO: Add the correct links here</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <div style="background-color: lightslategray; padding: 10px; margin: 15px 0px;"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default ihs-tile-panel" style="border-top-color: #4384c4;">
                <div class="panel-body">
                    <h4>Water Safety - Hyderabad</h4>
                    <p class="ihs-para">The IHS has been contributing to the WSP(Water Safety Plan) by organizing expert group meetings and providing inputs for development of health based targets. The Director, IHS serves on the Steering Committee on Water Safety Plans and Saritha K, Head, WQTS, IHS serves on Task Force for Monitoring implementation of Water Safety Plans constituted by the HMWSSB.</p>
                    <div class="readmore">Read More</div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default ihs-tile-panel" style="border-top-color: #293352;">
                <div class="panel-body">
                    <h4>Water Quality Lab</h4>
                    <p class="ihs-para">Protecting public health by easily accessible tests of water quality. Services include, basic & complete potability tests, bacteriological analysis, ground water potability & specified single or multiple parameter tests. The lab provides independent water quality monitoring of water in identified slum areas supplied by the Hyderabad Metro Water Supply & Sewerage Board</p>
                    <div class="readmore">Read More</div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default ihs-tile-panel" style="border-top-color: #e2920c;">
                <div class="panel-body">
                    <h4>Resources</h4>
                    <p class="ihs-para"></p>
                    <div class="readmore">Read More</div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->




    <!-- Script to Activate the Carousel -->
    <script>
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        });
    </script>
