<!DOCTYPE html>

<div class="">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="#/home">Home</a>
                </li>
                <li><a href="#/about">About</a>
                </li>
                <li class="active">Mission</li>
            </ol>
        </div>
    </div>

    <div class="col-md-12">
        <h4 class="page-header">Our mission</h4>
    </div>
    <div class="col-md-12">
        <p class="ihs-para-verdana">Groom Skills, Gather Evidence and Generate Knowledge for people's health.</p>
    </div>
    <div class="col-md-12 text-center">
        <img  class="img-circle ihs-mission-pic" src="images/ihs_library.jpg" alt="">
    </div>
    <div class="col-md-12 text-center">
        <img  class="img-circle ihs-mission-pic" src="images/ihs_survey.jpg" alt="">
        <img  class="img-circle ihs-mission-pic" src="images/ihs_workshop.jpg" alt="">
    </div>
</div>
