<div class="">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="#/home">Home</a>
                </li>
                <li><a href="#/about">About</a>
                </li>
                <li class="active">Organization and Structure</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <img  class="img-responsive" src="images/ihs_orgstructure.jpg" alt="">
        </div>
    </div>
</div>
