<div class="col-md-4 text-center">
    <div class="thumbnail">
        <img class="img-responsive ihs-profile-pic" src="images/Srinivas.jpg" alt="Srinivas">
        <div class="caption">
            <h3>Srinivas V<br></h3>
            <small>Program Officer</small>
            <p><small><a href="mailto:srinivas@ihs.org.in">srinivas@ihs.org.in</a></small></p>
            <div class="text-justify">
                <p>Mr. V.Srinivas holds a Master Degree in Economics from the Osmania University, Hyderabad.</p>
                <p>He has done Bachelorate of Education from Annamalai University, Chennai. Mr. V.Srinivas is currently working as a Program Officer at the Institute of Health Systems (IHS). Before joining IHS he worked at CRIDA, ICAR (Central Research Institute of Dry land Agriculture, Santhoshnagar, Hyderabad. For the Period from January 2000 to 08.07.2014, He has worked in different positions like as a Project Officer, Research Associate Senior Research Fellow.</p>
                <p>He has worked as a Senior Research Fellow in Directorate of Rice Research, Rajendranagar, Hyderabad, for the period of 1995 to 2000. He has also worked in Centre for Economic and Social Sciences (CESS), as a Data Collection Executive. He has got Experience of Research work and Field work Data Collection in all the states in India. He has knowledge in Computerisation and Analysis, Conducting the training programmes for women farmers and farmers mobilization, did soil sampling, Chemical and analysis, He did the various Socio-Economic Evaluation of Rain fed Technologies in different areas of and different Projects in CRIDA, Hyderabad.  He has 19 years of experience in Research field.</p>
            </div>
        </div>
    </div>
</div>