<div class="row">
    <div class="col-lg-6">
        <div class="page-header">
            <h4><i class="fa fa-archive"> Project Archives</i></h4>
        </div>
        <ul>
            <li>
                Burden of Disease
                <ul>
                    <li>
                        <a href="#/project/archive/apburdenofdiseasestudy">AP Burden of Disease Study</a>
                    </li>
                    <li>
                        <a href="#/project/archive/aphealthstatevaluationstudy">AP Health State Valuation Study</a>
                    </li>
                    <li>
                        <a href="#/project/archive/causeofdeath">Cause of Death</a>
                    </li>
                    <li>
                        <a href="#/project/archive/bodtrainingprogrammes">BOD Training Programmes</a>
                    </li>
                    <li>
                        <a href="#/project/archive/DFHS">DFHS</a>
                    </li>
                    <li>
                        <a href="#/project/archive/indoorairpollution">Indoor Air Pollution</a>
                    </li>
                    <li>
                        <a href="#/project/archive/RTA">RTA</a>
                    </li>
                    <li>
                        <a href="#/project/archive/bodsocioeconomicimpactofhivaids">Burden of Disease and Socioeconomic Impact of HIV/AIDS</a>
                    </li>
                    <li>
                        <a href="#/project/archive/airpollutionandcod">Air Pollution and Cause of Deaths in Hyderabad</a>
                    </li>
                    <li>
                        <a href="#/project/archive/technicalsupportforverbalautopsy">Technical Support for Verbal Autopsy</a>
                    </li>
                    <li>
                        <a href="#/project/archive/codcoding">Cause of Death Coding for AP Rural Health Initiative</a>
                    </li>
                    <li>
                        <a href="#/project/archive/healtheffectsofairpollution">Health Effects of Air Pollution in Hyderabad</a>
                    </li>
                    <li>
                        <a href="#/project/archive/socioeconomicimpactofasthma">Socioeconomic Impact of Asthma</a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>


</div>