<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a href="#/home">Home</a></li>
            <li>About</li>
            <li class="active">Reach Us</li>
        </ol>
    </div>
</div>

<!-- Content -->
<div class="row">
    <div class="col-sm-8">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3807.279687760934!2d78.46959129542647!3d17.39836031263769!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9766aca854db%3A0xd106294a3fa1639e!2sInstitute+Of+Health+Systems!5e0!3m2!1sen!2sin!4v1429437846147" width="900" height="600" frameborder="0" style="border:0"></iframe>
    </div>
    <div class="col-sm-4">
        <address>
            <h4>The Institute of Health Systems</h4>
            HACA Bhavan<br>
            Hyderabad - 500 004<br>
            Andhra Pradesh, India
            <br><br>
            <i title="Primary Phone" class="fa fa-phone fa-lg"></i> +91- 40- 23210136/9<br><br>
            <i title="Alternate Phone" class="fa fa-phone fa-lg"></i> +91- 40- 23211013/4<br><br>
            <i title="Fax" class="fa fa-fax fa-lg"></i> +91- 40- 23241567<br><br>
            <span class="glyphicon glyphicon-envelope"></span><a href="mailto:{{ihs_email}}"> {{ihs_email}}</a>
        </address>
    </div>
</div>
