<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h3 style="text-align: center">Epidemiology of Road Traffic Accidents in Hyderabad-Deccan, Andhra Pradesh, India.</h3>
        </div>
        <p class="text-primary"><strong>Back Ground</strong></p>
        <p class="ihs-para">
            The process of rapid and unplanned urbanisation has resulted in an unprecedented revolution in the growth of motor vehicles world-wide. The alarming increase in morbidity and mortality owing to road traffic accidents (RTA) over the past few decades is a matter of great concern globally. Currently motor vehicle accidents rank ninth in order of disease burden and are projected to be ranked third in the year 2020. In India, more than 70,000 people get killed due to RTA every year, and this needs to be recognised as an important public health issue. Very few studies have attempted to understand the epidemiology of risk factors associated with RTA in Indian cities. The present study aims to examine the magnitude of this multifaceted problem in a rapidly developing Hyderabad metropolis and analyse the causative factors.
        </p>
        <p class="text-primary"><strong>Objectives</strong></p>
        <ol>
            <li>
                <p class="ihs-para">
                    To study the cause of road traffic accidents in Hyderabad city.
                </p>  
            </li>
            <li>
                <p class="ihs-para">
                    To identify and analyse the risk factors and accident prone sites ( black spots), which form the crucial determinants of the RTA.
                </p>  
            </li>
            <li>
                <p class="ihs-para">
                    To understand the nature, type and mode of occurrence of accidents.
                </p>  
            </li>
            <li>
                <p class="ihs-para">
                    To study the nature and type of injuries.
                </p>  
            </li>
        </ol>
        <p class="text-primary"><strong>Materials and Methods</strong></p>
        <ol>
            <li>
                <p class="ihs-para">
                    The current situation of the road traffic system in Hyderabad city will be reviewed in consultation with various departments and the information gathered from the multiple sources will be integrated for setting up a database on the causes, nature and magnitude of RTA in the city.
                </p>  
            </li>
            <li>
                <p class="ihs-para">
                    Using this database, major accident-prone areas would be identified and the data pertaining to the time, place, effectiveness of emergency medical services, police inquiry and other relevant information will be collected.
                </p>  
            </li>
            <li>
                <p class="ihs-para">
                    The risk factors would be identified and classified as:
                </p>
                <ol>
                    <li>
                        <p class="ihs-para">
                            Behavioral
                        </p>
                        <ol>
                            <li>
                                <p class="ihs-para">Non use of protective gear by two-wheeler riders.</p>
                            </li>
                            <li>
                                <p class="ihs-para">Driving under the influence of alcohol.</p>
                            </li>
                            <li>
                                <p class="ihs-para">Over speeding & under-utilisation and non-utilisation of seat belts.</p>
                            </li>
                            <li>
                                <p class="ihs-para">Overtaking from wrong direction, use of cell phones while driving.</p> 
                            </li>
                            <li>
                                <p class="ihs-para">Knowledge attitude and practice (KAP) of road users and traffic police officials.</p>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <p class="ihs-para">
                            Structural
                        </p>
                        <ol>
                            <li>
                                <p class="ihs-para">Poor road surface, slippery surfaces & uneven surfaces.</p> 
                            </li>
                            <li>
                                <p class="ihs-para">Poor lighting conditions & poor traffic regulation.</p> 
                            </li>
                            <li>
                                <p class="ihs-para">Inadequate road markings and sign boards.</p> 
                            </li>
                            <li>
                                <p class="ihs-para">Lack of a lane system for mixed traffic and encroachment of foot.</p>
                            </li>
                        </ol>
                    </li>
                </ol>

            </li>
            <li>
                <p class="ihs-para">
                    Direct observation studies
                </p> 
                <p class="ihs-para">
                    The closed circuit TV (CCTV) monitoring technique will be adopted for recording the activity going on at traffic junctions. Once installed, the junctions would be monitored from a central control room stationed at IHS to keep count of accident occurrence at the selected study sites.
                </p> 
                <p class="ihs-para">
                    First hand information will be gathered from the survivor, eye witnesses of the accident etc. Reporting from various sources would be cross verified with the directly recorded data.
                </p> 
            </li>
        </ol>
        <p class="text-primary"><strong>Duration of the activity:</strong></p>
        <p class="ihs-para">
            3 years from start of project.
        </p>
        <p class="text-info">
            Phase I - Preparatory Phase ( 6 months)
        </p>
        <ol>
            <li>
                <p class="ihs-para">Identification, contact, establishing liaison, meeting with various departments involved.</p> 
            </li>
            <li>
                <p class="ihs-para">Development of study instruments (questionnaire).</p> 
            </li>
            <li>
                <p class="ihs-para">Training of field investigators & pilot study.</p> 
            </li>
        </ol>
        <p class="text-info">
            Phase II - Data collection Phase ( 15 months)
        </p>
        <ol>
            <li>
                <p class="ihs-para">Information will be collected from the allied sectors of police, transport, health, insurance and corporation officials.</p> 
            </li>
            <li>
                <p class="ihs-para">Information will also be collected from accident survivors, eyewitnesses and crime reporters.</p> 
            </li>
        </ol>
        <p class="text-info">
            Phase III - Data Pooling Phase ( 6 months)
        </p>
        <p class="ihs-para">
            The information gathered from the various sources will be pooled up for setting up a database on the causes, nature and magnitude of RTA in the city.
        </p> 
        <p class="text-info">
            Phase IV - Data Analysis and Report Preparation ( 9 months)
        </p>
        <ol>
            <li>
                <p class="ihs-para">Statistical packages to be used will include EpiInfo and Stata and other software as needed.</p> 
            </li>
            <li>
                <p class="ihs-para">At the end of the study, a final technical report will be prepared.</p> 
            </li>
            <li>
                <p class="ihs-para">The information generated from this study would be disseminated to promote awareness and participation among the professional, public and media, on various aspects of the Road Traffic Accidents. </p> 
            </li>
        </ol>
        <br>
        <p class="ihs-para" style= "text-align: right" >
            For details and enquiries write to <a href="mailto:{{ihs_email}}"> {{ihs_email}}</a>
        </p>
        <p class="ihs-para" style= "text-align: right" >
            <strong>Updated on 3rd May, 2003.</strong>
        </p>
    </div>
</div>