<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h3 style="text-align: center">Technical Support for Verbal Autopsy for Field Trial to Assess Impact of Systemic Changes in Provision and Promotion of Health Care on Neonatal Mortality</h3>
        </div>
        <p class="ihs-para">
            Collaborative effort between Naandi Foundation, Effective Interventions and London School of Tropical Medicine and Hygiene. The Field Trial is being implemented in Nagarkurnool Division of Mahabubnagar District of AP. The trial covers over 400 villages with equal number of study and control villages. The field team includes over 400 surveyors and about 20 supervisors.  IHS has been selected as a technical consultant for the study.The Institute has been providing technical support for developing of forms and training manuals, training of surveyors and supervisors and quality control over the length of the trial. Institute has developed survey forms, verbal autopsy tools and training manuals. Training of surveyors is currently underway. The project has been commissioned by the Naandi Foundation<sup>[1]</sup>.
        </p>
        <hr>
        <p class="ihs-para">
            <sup>[1]</sup>Nandi Foundation Letter & Contract dated 15th Feb 2007
        </p>
    </div>
</div>