<!DOCTYPE html>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="#/home">Home</a>
                </li>
                <li><a href="#/about">About</a>
                </li>
                <li class="active">Vision</li>
            </ol>
        </div>
    </div>

    <div class="col-md-12">
        <h4 class="page-header">Our vision</h4>
    </div>
    <div class="col-md-12">
        <p class="ihs-para-1">To improve the efficacy, quality & equity of Health Systems.</p>
    </div>
    <div class="col-md-12 text-center">
            <img  class="img-circle ihs-mission-pic" src="images/ihs_workshop-1.jpg" alt="">
    </div>
    <div class="col-md-12 text-center">
            <img  class="img-circle ihs-mission-pic" src="images/ihs_publication.jpg" alt="">
            <img  class="img-circle ihs-mission-pic" src="images/ihs_workshop-2.jpg" alt="">
    </div>
</div>