<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h3 style="text-align: center">Cause of Death Coding for AP Rural Health Initiative</h3>
        </div>
        <p class="ihs-para">
            The Andhra Pradesh Rural Health Initiative is a collaborative effort of the Byrraju Foundation, The George Institute for International Health Sydney, the Centre for Chronic Disease Control in New Delhi and the CARE Foundation, Hyderabad to develop cost effective solutions for providing health care to rural communities. As a part of this Initiative, it is required to carry out mortality/morbidity surveillance in about 45 villages of East & West Godavari. Trained personnel conduct verbal autopsy using specially structured Verbal Autopsy Forms, which are sent to the IHS. At the Institute the cause of death (COD) is assigned to each form as per the ICD-10 codes. The project which began in June 2004 is for a minimum of three years and is sponsored by the Byrraju Foundation<sup>[1]</sup>. Till date we have coded about 4000 VA Forms.
        </p>
        <hr>
        <p class="ihs-para">
            <sup>[1]</sup>Byrraju Foundation Agreement & Letter dt: 23rd June 2004
        </p>
    </div>
</div>