<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h3 style="text-align: center">National Burden of Disease Estimation Workshops</h3>
        </div>
        <p class="ihs-para">	
            The Institute has just concluded a series of workshops on National Burden of Disease Estimation. These workshops were attended by 38 ICMR scientists.
        </p>
        <p class="ihs-para">	
            Following the publication of the Global Burden of Disease (GBD) results (World Bank, 1993; Murray and Lopez, 1994, 1996, WHO, 1999), both individuals and organisations committed to health policy are hoping to gain insights from comprehensive assessment of disease burden at national and sub-national levels. The World Health Organisation (WHO) has launched a Global Program on Evidence and Information for Health Policy. Burden of disease estimates, namely disability adjusted life expectancy, and disability adjusted life years (DALY) were included by the WHO in the World Health Report (WHR) 2000
        </p>
        <p class="ihs-para">	
            The Institute of Health Systems has been working since 1994 to build capacity for estimating disease burden. The Institute has estimated burden of disease in Andhra Pradesh during the 1990s. Other burden of disease estimation related research at the Institute include work on cause of death reporting systems, cause of death studies, health state valuation and health system responsiveness measurement.
        </p>
        <p class="text-primary"><strong>Objectives</strong></p>
        <div>
            <ol>
                <li>
                    <p class="ihs-para">To familiarise with the burden of disease measurement concepts.</p>
                </li>
                <li>
                    <p class="ihs-para">Basic understanding of the interdisciplinary nature of the work and inputs from demography, epidemiology, health status measurement, etc.</p>
                </li>
                <li>
                    <p class="ihs-para">Computational steps for estimation of disease burden will be explained.</p>
                </li>
                <li>
                    <p class="ihs-para">Data inputs for estimation of disease burden will be identified. National data resources will be highlighted against the overall data requirement for burden of disease estimation.</p>
                </li>
                <li>
                    <p class="ihs-para">Practical skills for computation of various burden of disease measures like the disability adjusted life years (DALY) and disability adjusted life expectancy.</p>
                </li>
            </ol>
        </div>
        <p class="text-primary"><strong>Who were eligible?</strong></p>
        <div>
            <ol>
                <li>
                    <p class="ihs-para">This series of two workshops were organised primarily for the scientists from various laboratories of the Indian Council of Medical Research (ICMR).</p>
                </li>
            </ol>
        </div>
        <p class="text-primary"><strong>Registration:</strong></p>
        <div>
            <ol>
                <li>
                    <p class="ihs-para">Scientists sponsored by the ICMR should have sponsorship letter from the Director of the Institute concerned. Directors of ICMR Institutions are advised to refer to the communications from ICMR headquarters. Dr. Lalit Kant, Senior Dy.DG is coordinating this programme.</p>
                </li>
                <li>
                    <p class="ihs-para">Candidates should fill in the registration form or send a copy of their detailed biodata. Their biodata helped us better plan for the course.</p>
                </li>
                <li>
                    <p class="ihs-para">ICMR Headquarters had made arrangements for accommodation of their scientists at the National Institute of Nutrition, Hyderabad.</p>
                </li>
                <li>
                    <p class="ihs-para">No course fee is required to be paid by ICMR sponsored candidates. The ICMR headquarters has undertaken to pay their course fee.</p>
                </li>
                <li>
                    <p class="ihs-para">For other candidates, the course fee of US$ 1500 and accommodation charges of US$ 500 per participant will be payable by the candidate or their sponsor. As the ICMR scientists have a priority, we can not guarantee availability of seats. Hence please do not send the course fee until you receive confirmation from us about acceptance in principle of your registration. Payment will have to arranged thereafter but before the registration dead line.</p>
                </li>
                <li>
                    <p class="ihs-para">Payment mode: By Institutional check, or demand draft drawn in favour of "Institute of Health System" payable at Hyderabad.</p>
                </li>
                <li>
                    <p class="ihs-para">Send personal details and amount to:The Training Services Officer,Institute of Health Systems,HACA Bhavan, Hyderabad, AP 500004, India</p>
                </li>
            </ol>
        </div>
        <p class="text-primary"><strong>Course Coverage</strong></p>
        <div>
            <ol>
                <li>
                    <p class="ihs-para">Demography</p>
                    <ol>
                        <li>
                            <p class="ihs-para">Basic demography</p>
                        </li>
                        <li>
                            <p class="ihs-para">Sources of population and mortality data.</p>
                        </li>
                        <li>
                            <p class="ihs-para">Census publications and SRS</p>
                        </li>
                        <li>
                            <p class="ihs-para">Assessment of mortality data quality - practical</p>
                        </li>
                        <li>
                            <p class="ihs-para">Assessment of population data quality - practical</p>
                        </li>
                        <li>
                            <p class="ihs-para">Interpolation techniques. Population data requirement for a burden of disease estimation project.</p>
                        </li>
                        <li>
                            <p class="ihs-para">Single year population estimates using Sprague Interpolators, Spreadsheet, and BDAP.</p>
                        </li>
                        <li>
                            <p class="ihs-para">Survival function and life table concepts.</p>
                        </li>
                        <li>
                            <p class="ihs-para">Building a life table using spreadsheet, and BDAP</p>
                        </li>
                        <li>
                            <p class="ihs-para">General demographic estimates for a burden of disease application project.</p>
                        </li>
                    </ol>
                </li>
                <li>
                    <p class="ihs-para">Epidemiology</p>
                    <ol>
                        <li>
                            <p class="ihs-para">Use of incidence and prevalence in the study of disease development in a population.</p>
                        </li>
                        <li>
                            <p class="ihs-para">Relationship between Prevalence, Incidence and Duration</p>
                        </li>
                        <li>
                            <p class="ihs-para">Sources of descriptive epidemiologic data-Natural history and duration</p>
                        </li>
                        <li>
                            <p class="ihs-para">Sources of descriptive epidemiologic data-Incidence, Prevalence</p>
                        </li>
                        <li>
                            <p class="ihs-para">Approach to estimating incidence and prevalence for a burden of disease application project.</p>
                        </li>
                        <li>
                            <p class="ihs-para">DISMOD. A tool for internally consistent epidemiological estimates</p>
                        </li>
                        <li>
                            <p class="ihs-para">Epidemiology exercise-1: Preparing incidence prevalence data on malaria for a burden of disease application using DISMOD</p>
                        </li>
                        <li>
                            <p class="ihs-para">Epidemiology exercise-2: Preparing incidence prevalence data on tuberculosis for a burden of disease application using DISMOD</p>
                        </li>
                    </ol>
                </li>
                <li>
                    <p class="ihs-para">Cause of death</p>
                    <ol>
                        <li>
                            <p class="ihs-para">Sources of cause of death data in India</p>
                        </li>
                        <li>
                            <p class="ihs-para">Performance of cause of death reporting system in India</p>
                        </li>
                        <li>
                            <p class="ihs-para">ICD-10 and Indian National List of causes of death, ICD-INL-BoD Maps</p>
                        </li>
                        <li>
                            <p class="ihs-para">Non Medical List (NML) of Causes of Death, NML-BoD Map</p>
                        </li>
                        <li>
                            <p class="ihs-para">Practical steps in analysing cause of death data</p>
                        </li>
                        <li>
                            <p class="ihs-para">Cause of death estimates for a burden of disease application project</p>
                        </li>
                    </ol>
                </li>
                <li>
                    <p class="ihs-para">Health Status Measurement</p>
                    <ol>
                        <li>
                            <p class="ihs-para">Introduction to health status measurement</p>
                        </li>
                        <li>
                            <p class="ihs-para">An overview of health interview surveys and disability prevalence data</p>
                        </li>
                        <li>
                            <p class="ihs-para">Understanding disability prevalence data from the US National Health Interview Survey</p>
                        </li>
                        <li>
                            <p class="ihs-para">Health Interview Surveys disability prevalence data in India</p>
                        </li>
                        <li>
                            <p class="ihs-para">The 6D5L system for description of health states.</p>
                        </li>
                        <li>
                            <p class="ihs-para">Card sort and visual analogue exercises.</p>
                        </li>
                        <li>
                            <p class="ihs-para">Comparative study of currently used disability weights in burden of disease application projects.</p>
                        </li>
                    </ol>
                </li>
                <li>
                    <p class="ihs-para">Summary Measures of Population Health</p>
                    <ol>
                        <li>
                            <p class="ihs-para">The DALY measure.</p>
                        </li>
                        <li>
                            <p class="ihs-para">Computation of YLL using spread sheets.</p>
                        </li>
                        <li>
                            <p class="ihs-para">Computation of YLDs using spread sheets.</p>
                        </li>
                        <li>
                            <p class="ihs-para">Burden of disease cause list</p>
                        </li>
                        <li>
                            <p class="ihs-para">Measures of premature mortality.</p>
                        </li>
                        <li>
                            <p class="ihs-para">Computation of premature mortality indicators.</p>
                        </li>
                        <li>
                            <p class="ihs-para">Summary measures using disability prevalence data</p>
                        </li>
                        <li>
                            <p class="ihs-para">Computation of DALY and DALE using BDAP - Installation, Set up</p>
                        </li>
                        <li>
                            <p class="ihs-para">Computation of summary measures using disability prevalence data</p>
                        </li>
                        <li>
                            <p class="ihs-para">Computation of DALY and DALE using BDAP - Inputing data</p>
                        </li>
                        <li>
                            <p class="ihs-para">Comutation of DALE using spread sheets.</p>
                        </li>
                        <li>
                            <p class="ihs-para">Burden of disease results from BDAP</p>
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
        <p class="text-center" style="color: red"><strong><u>Prerequisites and recommended preparations by participants</u></strong></p>

        <div>
            <ol>
                <li>
                    <p class="ihs-para"><strong>Prerequisites:</strong></p>
                    <ol>
                        <li>
                            <p class="ihs-para">The course required usage of spread-sheets. The participants were expected to be familiar with spread sheet formulas, and functions.</p>
                            <ol>
                                <li>
                                    <p class="ihs-para">Writing formulae.</p>
                                </li>
                                <li>
                                    <p class="ihs-para">Cell and range references: Relative, absolute, and mixed reference to cells in formulae.</p>
                                </li>
                                <li>
                                    <p class="ihs-para">Functions including the following:</p>

                                    <ol>
                                        <li>
                                            <p class="ihs-para">Naming of range and use of named ranges in formulae.</p>
                                        </li>
                                        <li>
                                            <p class="ihs-para">Database functions i.e. 'D' functions.</p>
                                        </li>
                                        <li>
                                            <p class="ihs-para">The If function.</p>
                                        </li>
                                        <li>
                                            <p class="ihs-para">Exponential function.</p>
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    <p class="ihs-para">Lotus 123 is the preferred spreadsheet. You can use MS Excel as well.</p>
                                </li>
                                <li>
                                    <p class="ihs-para">Graphing and charting features of the spreadsheets.</p>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <p class="ihs-para">Participants are expected to use word processors for their project work and exercises.</p>
                        </li>
                        <li>
                            <p class="ihs-para">Typewriting skill: Our experience is that some typewriting skill facilitates effective usage of personal computers. If you usually type with one finger, then we suggest that you practice type writing using any of the many typewriting soft wares available. Type writing speeds of about 30 words per minute are ideal. However, speeds down to about 20 words per minute will be tolerable.</p>
                        </li>
                    </ol>
                <li>
                    <p class="ihs-para"><strong>Data for exercises:</strong></p>
                    <p class="text-center"><strong>Choice of basic population unit(s) for which you want to estimate burden of disease:</strong></p>
                    <ol>
                        <li>
                            <p class="ihs-para">For example a state, regions within a state, or a region consisting of more than one state, or the whole country.</p>
                        </li>
                        <li>
                            <p class="ihs-para">Choice of basic population unit will depend on your policy interest or assignment and feasibility of getting data for estimation of burden of disease. At the least, population, and mortality data should be available. In addition basic population units for which data on cause of death, disability or disease prevalence is available should be preferred.</p>
                        </li>
                        <li>	
                            <p class="ihs-para">Choose the reference year or period of your estimate. Choice of reference year will depend on your policy interest or assignment and feasibility of getting data.</p>
                        </li>
                        <li>	
                            <p class="ihs-para">Once you have chosen the basic population unit of your interest and the reference year for your estimate, collect the following data for each of the basic population units for which you want to estimate burden of disease.</p>
                        </li>
                    </ol>
                    <p class="ihs-para"><strong>Population data.</strong></p>
                    <p class="ihs-para">If the reference year coincides with a census year, then population data from that census. If the reference year falls in an inter censal period, population data from censuses before and after the reference year.</p>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="ihs-aligntext-center" colspan="1">Age group</th>
                                    <th class="ihs-aligntext-center" colspan="3">Census year</th>
                                    <th class="ihs-aligntext-center" colspan="3">Census year</th>
                                </tr>
                                <tr>
                                    <th>  </th>
                                    <th class="ihs-aligntext-center"> Female </th>
                                    <th class="ihs-aligntext-center"> Male </th>
                                    <th class="ihs-aligntext-center"> All </th>
                                    <th class="ihs-aligntext-center"> Female </th>
                                    <th class="ihs-aligntext-center"> Male </th>
                                    <th class="ihs-aligntext-center"> All </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="ihs-aligntext-center">
                                    <td>0-1</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="ihs-aligntext-center">
                                    <td>1-4</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="ihs-aligntext-center">
                                    <td>5-9</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="ihs-aligntext-center">
                                    <td>...</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="ihs-aligntext-center">
                                    <td>60-64</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="ihs-aligntext-center">
                                    <td>65-69</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="ihs-aligntext-center">
                                    <td>70+</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="ihs-aligntext-center">
                                    <td>All Ages</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p class="ihs-para"><strong>Mortality and population composition data from latest SRS:</strong></p>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="ihs-aligntext-center" colspan="1">Age group</th>
                                    <th class="ihs-aligntext-center" colspan="3">Population</th>
                                    <th class="ihs-aligntext-center" colspan="3">Deaths</th>
                                </tr>
                                <tr>
                                    <th>  </th>
                                    <th class="ihs-aligntext-center"> Female </th>
                                    <th class="ihs-aligntext-center"> Male </th>
                                    <th class="ihs-aligntext-center"> All </th>
                                    <th class="ihs-aligntext-center"> Female </th>
                                    <th class="ihs-aligntext-center"> Male </th>
                                    <th class="ihs-aligntext-center"> All </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="ihs-aligntext-center">
                                    <td>0-1</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="ihs-aligntext-center">
                                    <td>1-4</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="ihs-aligntext-center">
                                    <td>5-9</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="ihs-aligntext-center">
                                    <td>...</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="ihs-aligntext-center">
                                    <td>60-64</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="ihs-aligntext-center">
                                    <td>65-69</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="ihs-aligntext-center">
                                    <td>70+</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="ihs-aligntext-center">
                                    <td>All Ages</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li>
                    <p class="ihs-para"><strong>Cause of death statistics</strong></p>
                    <ol>
                        <li><p class="ihs-para"><strong>Use the following format with NML or INL as the case may be:</strong></p>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="ihs-aligntext-center" colspan="1">Code</th>
                                            <th class="ihs-aligntext-center" colspan="1">Cause</th>
                                            <th class="ihs-aligntext-center" colspan="8">Number of deaths in respective age groups</th>
                                        </tr>
                                        <tr>
                                            <th>  </th>
                                            <th>  </th>
                                            <th class="ihs-aligntext-center"> 0-4 </th>
                                            <th class="ihs-aligntext-center"> 5-14 </th>
                                            <th class="ihs-aligntext-center"> 15-29	</th>
                                            <th class="ihs-aligntext-center"> 30-44	</th>
                                            <th class="ihs-aligntext-center"> 45-59	</th>
                                            <th class="ihs-aligntext-center"> 60-69	</th>
                                            <th class="ihs-aligntext-center"> 70+   </th>
                                            <th class="ihs-aligntext-center"> All	</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="ihs-aligntext-center">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr class="ihs-aligntext-center">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr class="ihs-aligntext-center">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr class="ihs-aligntext-center">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr class="ihs-aligntext-center">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr class="ihs-aligntext-center">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr class="ihs-aligntext-center">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr class="ihs-aligntext-center">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </li>
                        <li>
                            <p class="ihs-para">
                                If the data is from a verbal autopsy system then the code and cause list will be according to the Non Medical List (NML) communicated by the Registrar General of India (RGI) under the Survey of Cause of Death (SCD) Rural scheme. The same NML is being used by the Cause of Death component of SRS.
                            </p>
                        </li>
                        <li>
                            <p class="ihs-para">
                                If the data is based on medical certification then the code and cause list will be according to the Indian National List (INL) communicated by the RGI under the Medical Certification of Cause of Death (MCCD) scheme.
                            </p>
                        </li>
                    </ol>
                </li>
                <li>
                    <p class="ihs-para"><strong>Descriptive epidemiology of diseases among the population units for which you want to estimate burden of disease.</strong></p>   
                    <ol>
                        <li>
                            <p class="ihs-para">
                                We are going to use malaria and tuberculosis as examples for the epidemiology exercises in the workshop. Hence collect as much descriptive epidemiology of these two diseases among the population for which you want to estimate burden of disease. Bring copies of published articles, unpublished works giving some descriptive epidemiology of these two diseases.
                            </p>
                        </li>
                        <li>
                            <p class="ihs-para">
                                If you have descriptive epidemiology of other disease for the population concerned, we can use that. If you are not able to collect data for other disease before the workshop, we will use estimates for India from the GBD study. You can develop estimates for your population after the workshop.
                            </p>
                        </li>
                        <li>
                            <p class="ihs-para">
                                <strong>Format for descriptive epidemiology data for each disease:</strong>
                            </p>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="ihs-aligntext-center">Age group</th>
                                            <th class="ihs-aligntext-center">Age at onset</th>
                                            <th class="ihs-aligntext-center">Incidence</th>
                                            <th class="ihs-aligntext-center">Duration</th>
                                            <th class="ihs-aligntext-center">Prevalence</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="ihs-aligntext-center">
                                            <td>0-4</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr class="ihs-aligntext-center">
                                            <td>05-14</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr class="ihs-aligntext-center">
                                            <td>15-44</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr class="ihs-aligntext-center">
                                            <td>45-59</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr class="ihs-aligntext-center">
                                            <td>60</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    </ol>
                </li>
                <li>
                    <p class="ihs-para"><strong>Reference Books:</strong></p>  
                    <p class="ihs-para">Estimation of burden of disease is an inter disciplinary work. We will be providing you with reading material in the workshop. However, you will need to refer to some basic texts in the area of demography, and epidemiology frequently. In addition you will need to refer certain publications frequently used by the community of scientists working on burden of disease estimation. We give below a list of such references thought to be useful by us. Some of these publications may already be in your library. But some may not be there. We suggest that you ask your librarian to check the list and take advance action to acquire the ones that may not already be in the library. Please note that this is not an exhaustive list. This list is what occurred to us at the time of designing the programme for the workshop. Additional information about useful references and reading material will be made available at the time of the workshop.</p>
                    <p class="ihs-para"><strong>Suggested readings on burden of disease and summary measures of population health status:</strong></p>  
                    <ol>
                        <li>
                            <p class="ihs-para">Murray Christopher J.L. and Lopez Alan D., Editors. The global burden of disease. A comprehensive assessment of mortality and disability from diseases, injuries, and risk factors in 1990 and projected to 2020. Boston: Harvard School of Public Health; 1996.</p>
                        </li>
                        <li>
                            <p class="ihs-para">Murray Christopher J.L. and Lopez Alan D. Global health statistics. A compendium of incidence, prevalence and mortality estimates for over 200 conditions. Boston: Harvard School of Public Health; 1996.</p>
                        </li>
                        <li>
                            <p class="ihs-para">Murray Christopher J.L. and Lopez Alan D. Health Dimensions of Sex and Reproduction. Boston, MA: Harvard School of Public Health; 1998. Note: Distributed by the Harvard University Press, Cambridge, MA02138, USA.</p>
                        </li>
                        <li>
                            <p class="ihs-para">World Bank. World development report 1993. Investing in health. New York: Oxford university press; 1993.</p>
                        </li>
                        <li>
                            <p class="ihs-para">WHO. The World Health Report 2000. Health Systems: Improving Performance. Geneva: World Health Organisation; 2000.</p>
                        </li>
                        <li>
                            <p class="ihs-para">Mahapatra Prasanta. Estimating national burden of disease: sensitivity to local data. (The burden of disease in Andhra Pradesh, 1990s.). Hyderabad: IHS Publications, HACA Bhavan, Hyderabad, AP 500004, India; 2000.</p>
                        </li>
                    </ol>
                    <p class="ihs-para"><strong>Some text books in demography:</strong></p> 
                    <ol>
                        <li>
                            <p class="ihs-para">Newell Colin. Methods and models in demography. New York: Guilford Press; 1988.</p> 
                        </li>
                        <li>
                            <p class="ihs-para">Shryock Henry S.; Siegel Jacob S., and Stockwell Edward g. The methods and materials of demography. San Diego: Academic Press Inc.; 1976.</p> 
                        </li>
                        <li>
                            <p class="ihs-para">Chiang Chin Long. The Life Table and its Applications. Florida: Robert E. Krieger Publishing Company; 1984.</p> 
                        </li>
                        <li>
                            <p class="ihs-para">United Nations. Manual X. Indirect techniques for demographic estimation. New York: United Nations; 1983.</p> 
                        </li>
                    </ol>
                    <p class="ihs-para"><strong>Some text books in epidemiology:</strong></p> 
                    <ol>
                        <li>
                            <p class="ihs-para">MacMahon Brian and Trichopolos Dimitrios. Epidemiogy: Principles & Methods. Second edition. Boston, MA: Little, Brown & Company; 1996.</p> 
                        </li>
                        <li>
                            <p class="ihs-para">Walker A. M. Observation and inference: an introduction to the methods of epidemiolgy. USA: Epidemiology Resources Inc.; 1991</p> 
                        </li>
                        <li>
                            <p class="ihs-para">Beaglehole R.; Bonita R. , and Kjellstrom T. Basic epidemiology. WHO; 1993.</p> 
                        </li>
                        <li>
                            <p class="ihs-para">Hennekens Charles H. and Buring Julie E. Epidemiology in medicine. Boston: Little Brown and Co.; 1987.</p> 
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>
</div>
