<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li>
                <a href="#/home">Home</a>
            </li>
            <li>
                <a href="#/HSPA">Research & Consultancy</a>
            </li>
            <li>
                <a href="#/HSPA">Health System Performance Assessment</a>
            </li>
            <li class="active">
                Projects
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h3 style="text-align: center">Health System Performance Assessment - Projects</h3>
        </div>
        <div class="col-lg-6 ">
            <ul>
                <li>
                    <p class="ihs-para">
                        <a href="#">National and State Health Accounts</a>
                    </p>
                </li>
                <li>
                    <p class="ihs-para">
                        <a href="#">Institutional Assessment of the National AIDS Control Programme</a>
                    </p>
                </li>
                <li>
                    <p class="ihs-para">
                        <a href="#">Assessment of Critical Gaps in Rural Health System of AP</a>
                    </p>
                </li>
                <li>
                    <p class="ihs-para">
                        <a href="#">Development of NHA Manual for India</a>
                    </p>
                </li>
                <li>
                    <p class="ihs-para">
                        <a href="#">Health Care Financing and Expenditure of Non-Profit Organizations in India</a>
                    </p>
                </li>
                <li>
                    <p class="ihs-para">
                        <a href="#">Out of Pocket Expenditure in Public Hospitals of India</a>
                    </p>
                </li>
                <li>
                    <p class="ihs-para">
                        <a href="#">Maternal Mortality Surveillance System</a>
                    </p>
                </li>
                <li>
                    <p class="ihs-para">
                        <a href="#">Public-Private Partnership for Prevention of Waterborne Diseases in Urban Slums of Hyderabad</a>
                    </p>
                </li>
                <li>
                    <p class="ihs-para">
                        <a href="#">Baseline RCH Survey for RCH-II Project</a>
                    </p>
                </li>
                <li>
                    <p class="ihs-para">
                        <a href="#">Obstetric Facility Assessment Study</a>
                    </p>
                </li>
            </ul>
        </div>
        <div class="col-lg-offset-6">
            <ul>
                <li>
                    <p class="ihs-para">
                        <a href="#">Quality of Family Planning Practices in AP</a>
                    </p>
                </li>
                <li>
                    <p class="ihs-para">
                        <a href="#">Assessing Risk Associated with Water Quality for Establishing Health Based Targets for Drinking Water Safety in Support of Water Safety Plans, Hyderabad.</a>
                    </p>
                </li>
                <li>
                    <p class="ihs-para">
                        <a href="#">Frontiers Prevention Program (FPP) Outcome Evaluation</a>
                    </p>
                </li>
                <li>
                    <p class="ihs-para">
                        <a href="#">Health Equity in AP</a>
                    </p>
                </li>
                <li>
                    <p class="ihs-para">
                        <a href="#">Trends and Analysis of Health Status in AP</a>
                    </p>
                </li>
                <li>
                    <p class="ihs-para">
                        <a href="#">People’s Perception towards Directly Administered Anti TB  Treatment</a>
                    </p>
                </li>
                <li>
                    <p class="ihs-para">
                        <a href="#">Child Labour, Health and Education in Aqua Culture Areas</a>
                    </p>
                </li>
                <li>
                    <p class="ihs-para">
                        <a href="#">Quality of Reproductive Health Care by Private Hospitals in AP</a>
                    </p>
                </li>
                <li>
                    <p class="ihs-para">
                        <a href="#">Hospital Autonomy: A Case Study of AP Vaidya Vidhana Parishad</a>
                    </p>
                </li>
                <li>
                    <p class="ihs-para">
                        <a href="#">Mauritius - Demand and Satisfaction Survey</a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>