<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li>
                <a href="#/home">Home</a>
            </li>
            <li class="active">
                <a href="#/HSPA">Research & Consultancy</a>
            </li>
            <li class="active">
                Health System Performance Assessment
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h3 style="text-align: center">Health System Performance Assessment</h3>
        </div>
        <p class="ihs-para">
            Improving efficacy of health systems through operations research and performance assessment is one of the important missions of the Institute. Keeping with this mission, the Institute has fostered research in areas such as (a) periodic analysis of hospital performance, (b) patient satisfaction surveys, (c) responsiveness surveys, and (d) national health accounts (e) institutional assessments (f) risk assessment.
        </p>
        <hr>
        <div style="text-align: center; color: #269abc">
            <h3><a href="#/hspaprojects">Projects</a><small style="font-size: small"> (<a href="#/hspaprojects">Click</a> to navigate)</small></h3>
        </div>

        <hr>
        <p class="text-primary"><strong>Key Contributions</strong></p>
        <ul>
            <li>
                <p class="ihs-para">
                    The Institute provided technical assistance for developing a M&E framework for the Andhra Pradesh Health Sector Reforms Project under a DfID contract<sup>[1]</sup>.
                </p>
            </li>
            <li>
                <p class="ihs-para">
                    A recent study commissioned by the Department of Planning, Government of Andhra Pradesh<sup>[2]</sup> has developed indicators of operational availability of doctors such as "Attending Day", 'Doctor Less Period", "Operationally Available Doctor Period" and "Realized Doctor Capacity". 
                </p>
            </li>
            <li>
                <p class="ihs-para">
                    The Institute has contributed to development of an evaluation framework for assessment of vital statistics systems as part of Health Metrics Network sponsored by the WHO, Geneva<sup>[3]</sup>.
                </p>
            </li>
            <li>
                <p class="ihs-para">
                    The Institute has developed health based targets for monitoring of water safety plans taking into account the disease burden in the community, exposures that contribute most to disease and the socioeconomic determinants of exposure to risks.<sup>[4]</sup>
                </p>
            </li>
            <li>
                <p class="ihs-para">
                    The Institute is supporting Phase-III of the National AIDS Control Program of Government of India as part of its Technical Resource Group on Monitoring and Evaluation<sup>[5]</sup>.The ToR include: development of indicators for monitoring; formulate a comprehensive M&E operational plan, finalize specifications of MIS; formulation of capacity building plans in M&E.
                </p>
            </li>
            <li>
                <p class="ihs-para">
                    The Institute has recently completed an outcome evaluation of the Frontiers Prevention Programme, a Bill and Melinda Gates Foundation funded HIV prevention programme implemented by the International HIV/AIDS Alliance in 14 districts of Andhra Pradesh.<sup>[6]</sup> The study developed a framework for evaluating level of social capital among key populations actively involved in the interventions and wider key populations exposed to the interventions;  and whether increased social capital lead to increasing empowerment for prevention, actual reduction in risk behaviours and changes in knowledge attitudes and behaviour.
                </p>
            </li>
            <li>
                <p class="ihs-para">
                    The Institute has developed a prospective surveillance system of estimating Maternal Mortality Ratio. The proposed system will follow up about 25000 pregnancies through a set of randomly chosen sub centres from any given population for which MMR estimate is required.
                </p>
            </li>
            <li>
                <p class="ihs-para">
                    The Institute has developed a framework for monitoring of water quality and other determinants of water borne diseases in reservoirs and urban slums under a public –private partnership and has been implementing the same in Hyderabad city since 2005<sup>[7]</sup>.
                </p>
            </li>
            <li>
                <p class="ihs-para">
                    Institute piloted studies for generating IMR and MMR estimates at the district and sub-district level. The indirect methods of estimation such as children ever born (CEB) technique for infant mortality rate (IMR), and Sisterhood Survival method for maternal mortality rate (MMR) were used. IMR estimates show significant variation in mortality in different districts and revenue divisions. One revenue division in Mahboobnagar district had IMR as high as 125/1000 live births, which is twice as high as the state average IMR of 66/1000 live births. The study was sponsored by the Commissioner Family Welfare, Government of AP<sup>[8]</sup>.
                </p>
            </li>
            <li>
                <p class="ihs-para">
                    The Institute has developed a performance analysis framework for the APVVP which administers about 150 first referral hospitals in AP consisting of Community, Area and District hospitals. The IHS was commissioned<sup>[9]</sup> by the APVVP to undertake the performance analysis of these hospitals on monthly basis. The Institute assisted the APVVP for about three years between 1998 and 2002. There after the APVVP is doing their performance analysis in-house.  Similar work was carried out for the World Bank assisted Maharashtra Health Systems Development Project<sup>[10]</sup>.
                </p>
            </li>
            <li>
                <p class="ihs-para">
                    The Institute has developed a framework and methodology for assessing patient satisfaction to assess the quality of health care extended by the health institutions. The aim is to generate statistically accurate estimates of patient’s feed back for each hospital, so that inter hospital comparison is possible. It generates data for practical purposes such as planning, administration and evaluation of health care services. The Institute was commissioned<sup>[11]</sup> by the APVVP to conduct patient satisfaction surveys in APVVP hospitals at half yearly intervals between June 1999 and March 2002. These surveys provided useful feedback on functioning of different areas in the respective hospital and helpful insights about patients’ preference.
                </p>
            </li>
            <li>
                <p class="ihs-para">
                    The IHS has developed structural standards for reproductive health services by nursing homes and private hospitals<sup>[12]</sup>. These standards were developed with help of local experts using a consensus development process. The standards give minimum equipment and staffing requirement for basic maternity services like normal delivery, caesarian section, and medical termination of pregnancy. developed in the context of the World Bank funded study on structure and dynamics of private health sector in AP<sup>[11]</sup>.
                </p>
            </li>
        </ul>
        <hr>
        <p class="ihs-para">
            <small><sup>[1]</sup> DFID Contract No. CNTR/MSAP/HSR/DSC/2007/2531, Dt. 28/05/07</small>
        </p> 
        <p class="ihs-para">
            <small><sup>[2]</sup> Department of Planning , GoAP sanction letter G.O Rt. No. 165 dated 4/3/2006</small>
        </p> 
        <p class="ihs-para">
            <small><sup>[3]</sup> Civil registration systems and vital statistics: successes and missed opportunities: Lancet, October 29, 2007DOI:10.1016/S0140  6736(07)61308-7</small>
        </p> 
        <p class="ihs-para">
            <small><sup>[4]</sup> WHO India allotment : SE IND PHE 400 XD 06 4, SE IND PHE 011 RB 06 (Sticker No. SE/07/117196 & SE/07/112566), dt: 16/01/2007</small>
        </p> 
        <p class="ihs-para">
            <small><sup>[5]</sup> Government of India : Order No.S.12021/03/2005/NACO(M&E) dated 6th February 2007.</small>
        </p> 
        <p class="ihs-para">
            <small><sup>[6]</sup> Outcome Evaluation of the Frontiers Prevention Programme : IHS RP 45/2007.</small>
        </p> 
        <p class="ihs-para">
            <small><sup>[7]</sup> Letter No. MD/HMWSSB/IHS/2004-05, Dt. 25/01/2005 Letter No. MD/HMWSSB/IHS/2005-06/299, Dt. 31/03/2006</small>
        </p> 
        <p class="ihs-para">
            <small><sup>[8]</sup> Commissioner Family Welfare, AP Rc.No.SP/DD/(Demo)/98-99 dated 6 Aug 1999.</small>
        </p> 
        <p class="ihs-para">
            <small><sup>[9]</sup> APVVP Proc. Rc.No.7552/WB(D)/98 dated 24 Aug 1999, 18 Dec. 1999, 6 Apr 2000, and 12 Apr 2001.</small>
        </p> 
        <p class="ihs-para">
            <small><sup>[10]</sup> MHSDP / Med.Wing / Revalidation of Hospital Activity / Pub.Open.Fin.Prop / 01, dated 6Nov. 2001.</small>
        </p> 
        <p class="ihs-para">
            <small><sup>[11]</sup> APVVP Proc. Rc.No.7552/WB(D)/98 dated 24 Aug 1999, 18 Dec. 1999, 6 Apr 2000, and 12 Apr 2001.</small>
        </p>
        <p class="ihs-para">
            <small><sup>[12]</sup> An enquiry into the quality of reproductive health care provided in private hospitals and nursing homes and women's perception in Andhra Pradesh. Final Report.   Hyderabad : IHS, 1998 Sep.</small>
        </p>
        <p class="ihs-para">
            <small><sup>[13]</sup> Structure and dynamics of private health sector. Hyderabad , IHS, 2002.</small>
        </p>
    </div>
</div>